body{
    background-color: rgb(250, 227, 250)7, 212, 247);
    
}

#titu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color:#BA27EE;
    margin-top: 15%;
    margin-left: 5%;
}

/* Rectangle 6 */
.retang{
position: absolute;
width: 778px;
height: 1024px;
left: 662px;
top: 0px;

background: rgba(155, 81, 224, 0.25);
}

.cad{
    width: 45%;
    margin-left: 5%;
}

.marg{
    margin-left: 5%;
}

.tarta{
   margin-top: 8%;
}

.rem{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(133, 133, 133);

}